<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>diagnostics</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <Floats>
    <string>FubuMVC.References</string>
    <string>Bottles</string>
    <string>FubuCore</string>
    <string>FubuLocalization</string>
    <string>FubuMVC.JQueryUI</string>
    <string>FubuMVC.SlickGrid</string>
    <string>FubuMVC.Spark</string>
    <string>FubuMVC.TwitterBootstrap</string>
    <string>FubuTestingSupport</string>
    <string>FubuMVC</string>
    <string>FubuMVC.Core</string>
    <string>FubuMVC.Core.UI</string>
    <string>FubuMVC.Core.Assets</string>
    <string>FubuMVC.Core.View</string>
    <string>FubuMVC.Media</string>
  </Floats>
</ripple>