<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!-- To prevent static content from being run thru ASP.NET, we want to set runAllManagedModulesForAllRequests="false"
         However, UrlRoutingModel will stop working, unless you patch IIS to support extensionless routing (introduced in .NET 4)
         Download the patch at http://support.microsoft.com/kb/980368  -->
      <!-- To prevent static content from being run thru ASP.NET, we want to set runAllManagedModulesForAllRequests="false"
         However, UrlRoutingModel will stop working, unless you patch IIS to support extensionless routing (introduced in .NET 4)
         Download the patch at http://support.microsoft.com/kb/980368  -->
      <!-- To prevent static content from being run thru ASP.NET, we want to set runAllManagedModulesForAllRequests="false"
         However, UrlRoutingModel will stop working, unless you patch IIS to support extensionless routing (introduced in .NET 4)
         Download the patch at http://support.microsoft.com/kb/980368  -->
    </modules>
  </system.webServer>
</configuration>